{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
