@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@indieFlower: 'Indie Flower', cursive;

@100: 100%;
@base: 0;
@auto: auto;
@y: yellow;
@b: black;

* {
  box-sizing: border-box;
}

html, body, #app, .layout {
  margin: @base, @auto;
  padding: .25rem;
  overflow: hidden;
  background-color: @b;
  height: @100;
}

.layout {
  position: relative;
}

.footer {
  position:absolute;
  bottom:@base;
  width:@100;
  height: 15%;
  color: @y;
}

.loader {
  div {
    width: 8rem;
    height: 64px;
    margin-left: @auto;
    margin-right: @auto;
  }
}

.navbar {
  height: 8%;
  padding: 0;
  background-color: @b;
  .nAv {
    padding-left: 0;
  }
  .navbar-brand {
      color: @y;
      font-family: @indieFlower;
      font-size: 1.5rem;
      &:hover {
        color: @y;
      }
      &:visited {
        color: @y;
      }
  }
}

.searchbar {
  height: 10%;
  padding: .25rem 0rem .25rem 0rem;
  input  {
    height: @100;
    vertical-align: middle;
    border-color: @y;
    background: @b;
  }
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @y;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: @y;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: @y;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: @y;
  }
  input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @b;
  }
  input:focus::-moz-placeholder { /* Firefox 19+ */
    color: @b;
  }
  input:focus:-ms-input-placeholder { /* IE 10+ */
    color: @b;
  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    color: @b;
  }
  .form-control {
    color: @y;
    background-color: @b;
    &:focus {
      border-color: @y;
    }
  }
  span {
    height: @100;
    vertical-align: top;
    button {
      height: @100;
      vertical-align: top;
      color: @y;
      background-color: @b;
      border-color: @y;
      &:hover {
        color: @b;
        background-color: @y;
        border-color: @b;
      }
      &:focus:active {
        color: @y;
        background-color: @b;
        border-color: @y;
      }
    }
  }
}

.header {
  background-color: @b;
  padding-left: 0.5rem;
  color: @y;
  text-align: center;
  h1 {
    font-family: @indieFlower;
    margin-top: 0.5rem;
  }
}

.weather-link {
  text-align: center;
  .button-link {
    background-color: @b;
    border-color: @y;
    h1 {
      font-family: @indieFlower;
      color: @y;
      margin-top: 0.5rem;
      i {
        color: @y;
      }
    }
    &:hover {
      background-color: @y;
      border-color: @b;
      h1 {
        color: @b;
        margin-top: 0.5rem;
        i {
          color: @b;
        }
      }
    }
    &:focus:active:visited {
      background-color: @b;
      border-color: @y;
      h1 {
        color: @y;
        margin-top: 0.5rem;
        i {
          color: @y;
        }
      }
    }
  }
}

.current {
  background-color: @y;
  border-color: @b;
  border-radius: 1rem;
  margin-bottom: .5rem;
  width: 90%;
  h1, h2 {
    color: @b;
  }
  i {
    color: @b;
  }
}

i {
  height: 50px;
  width: 50px;
}

.weather, .forecast {
  text-align: center;
}

.weather {
  .dash-button {
    background-color: @b;
    border-color: @y;
    margin-bottom: .5rem;
    width: 90%;
    h1 {
      font-family: @indieFlower;
      color: @y;
      margin-top: 0.5rem;
    }
    &:hover {
      background-color: @y;
      border-color: @b;
      h1 {
        color: @b;
        margin-top: 0.5rem;
      }
    }
    &:focus:active:visited {
      background-color: @b;
      border-color: @y;
      h1 {
        color: @y;
        margin-top: 0.5rem;
      }
    }
  }
  .forecast-button {
    background-color: @b;
    border-color: @y;
    width: 90%;
    h1 {
      font-family: @indieFlower;
      color: @y;
      margin-top: 0.5rem;
    }
    &:hover {
      background-color: @y;
      border-color: @b;
      h1 {
        color: @b;
        margin-top: 0.5rem;
      }
    }
    &:focus:active:visited {
      background-color: @b;
      border-color: @y;
      h1 {
        color: @y;
        margin-top: 0.5rem;
      }
    }
  }
}

.forecast {
  padding: 0 1rem 0 1rem;
  table {
    background-color: @y;
    border: 1px solid @b;
    color: @b;
  	border-radius: 2rem;
    font-size: .75rem;
    td {
      border: 1px solid @b;
    }
  }
  .dash-button {
    background-color: @b;
    border-color: @y;
    h1 {
      font-family: @indieFlower;
      color: @y;
      margin-top: 0.5rem;
    }
    &:hover {
      background-color: @y;
      border-color: @b;
      h1 {
        color: @b;
        margin-top: 0.5rem;
      }
    }
    &:focus:active:visited {
      background-color: @b;
      border-color: @y;
      h1 {
        color: @y;
        margin-top: 0.5rem;
      }
    }
  }
}
